
Clouds/Saved/Logs/Clouds.log
Clouds/Content/FlyingBP/Blueprints/CameraFollow.uasset
Clouds/Intermediate/CachedAssetRegistry.bin
Clouds/Saved/AutoScreenshot.png
Clouds/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Clouds/Saved/Config/Windows/Engine.ini
Clouds/Saved/Logs/Clouds.log
